/bazel*
.ijwb
.idea
*.tmp
*.o
*.out

*.log
*.orig
*.profile.txt.event*
*.swp
*~
.metadata
.recommenders
/after-org*
/analyze-level.sh

/antlr-hdd
/before-org*
/out
PersesTempRoot_*
a.out
add_reduced-*
hdd_reduced_*
perses.sh
perses_reduced_*
PersesTempRoot*
platform.info
temp*
statistics-*.txt
testscript-statistics-*.txt
/.idea/*

*DS_Store
__pycache__

/default_*_folder
/default_finding_folder*
/default_duplicate_folder*
/default_temp_folder*
/default_interesting_folder*
old_finding_folder_rust
default_duplicate_folder_rust
default_processing_folder_rust
backup_*_crash_signature.txt
kira.tgz

.rsync_host_info

