/bazel*
.ijwb
.clwb
.idea
*.tmp

*.log
*.orig
*.profile.txt.event*
*.swp
*~
.metadata
.recommenders
/after-org*
/analyze-level.sh

/antlr-hdd
/before-org*
/out
PersesTempRoot_*
a.out
add_reduced-*
hdd_reduced_*
perses.sh
perses_reduced_*
platform.info
temp*
statistics-*.txt
testscript-statistics-*.txt
/.idea/*
gen
*DS_Store
__pycache__

/default_finding_folder*
/default_temp_folder*

.rsync_host_info

perses_result*
t.c.*.orig

perses-fuzzer
