/bazel*
.ijwb
.idea
*.tmp

*.log
*.orig
*.profile.txt.event*
*.swp
*~
.metadata
.recommenders
/after-org*
/analyze-level.sh

/antlr-hdd
/before-org*
/out
PersesTempRoot_*
a.out
add_reduced-*
hdd_reduced_*
perses.sh
perses_reduced_*
platform.info
temp*
statistics-*.txt
testscript-statistics-*.txt
/.idea/*

.DS_Store
__pycache__
